@import '../../lib/common.scss';
@import '../../lib/normalize.css';

.news_wrap,.url {
    margin: 0 auto;
    width: (342.2 / 375)*100%;
}
.news_wrap {
    .news_title {
        margin-top: .15rem;
        margin-bottom: .1rem;
        font: bold 0.24rem/0.33rem "PingFangSC-Semibold";
        color: #000;
    }
    .news_notice {
        margin-top: 0.02rem;
        font: 0.14rem/1 "PingFangSC-Regular";
        color: $beeColorFont;
        span {
            margin: 0.02rem;
        }
    }
    .news_img_wrap {
        margin: 0.105rem 0;
        
        img {
            width: 3.4rem;
            height: 2.24rem;
        }
    }
    .news_cont {
        font-size: .15rem;
        width: 100%;
        overflow: hidden;
        text-indent: 1em;
        font: 0.18rem/0.25rem "PingFangSC-Regular";
        color: #4A4A4A;
        img {
            width: 3.4rem;
            height: 2.24rem;
        }
    }
}
hr {
    margin: 0.08rem 0;
    background-color: #9B9B9B;
}
.url{
     margin-bottom: 0.08rem;
     font: 0.14rem/0.20rem "PingFangSC-Regular";
     color: #1E1B1B;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     a {
         color: #62a5db;
     }
}
